<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_dev.dao.UserPicMapper">
	<insert id="insertUserPic" parameterType="UserPic">
		INSERT INTO user_pics (id, name, pic, bio) VALUES(#{id},#{name},#{pic},#{bio})
	</insert>
	
	<select id="selectUserPicById" parameterType="int" resultType="UserPic">
		SELECT id, name, pic, bio FROM user_pics
		where id = #{id}		
	</select>
</mapper>